<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293802169594-t4h8c7kr7mns4s371k7ebg5tr05t37cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293802169594-t4h8c7kr7mns4s371k7ebg5tr05t37cs</string>
	<key>API_KEY</key>
	<string>AIzaSyDSZ4O1KbegbM8Rmgr4Ng2WSVD8o6IFcbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>293802169594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arch.archorganisebetter</string>
	<key>PROJECT_ID</key>
	<string>arch--organize-better</string>
	<key>STORAGE_BUCKET</key>
	<string>arch--organize-better.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293802169594:ios:ff3576d1f98da288b66543</string>
</dict>
</plist>